<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Chamados</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ServletIndex</servlet-name>
    <servlet-class>br.com.chamados.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletIndex</servlet-name>
    <url-pattern>/Index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletNovoChamado</servlet-name>
    <servlet-class>br.com.chamados.NovoChamado</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletNovoChamado</servlet-name>
    <url-pattern>/NovoChamado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletListarChamados</servlet-name>
    <servlet-class>br.com.chamados.ListarChamados</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletListarChamados</servlet-name>
    <url-pattern>/ListarChamados</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletEditarChamado</servlet-name>
    <servlet-class>br.com.chamados.EditarChamado</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletEditarChamado</servlet-name>
    <url-pattern>/EditarChamado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletLogin</servlet-name>
    <servlet-class>br.com.chamados.LoginChamado</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLogin</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
</web-app>